:root {
  --container-lg: 85%;
  --container-md: 89.6%;
  --container-sm: 91.5%;

  --fluid-paragraph: clamp(1rem, 1.4vw, 1.25rem);
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/font/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: white;
}

.container {
  width: var(--container-lg);
  max-width: 76.5rem;
  margin: 0 auto;
}

@media (768px <= width <= 1024px) {
  .container {
    width: var(--container-md);
  }
}

@media (width < 768px) {
  .container {
    width: var(--container-sm);
  }
}

/* ____________________header______________ */

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (width <= 1024px) {
  header {
    height: auto;
    display: block;
  }
}

@media (width < 768px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: #000;
  }
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width < 768px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
  }
}

.nav-logo {
  margin-top: clamp(1.5rem, 4vh, 2rem);
  margin-bottom: clamp(1.5rem, 4.5vh, 2.5rem);
}

@media (width < 768px) {
  .nav-logo {
    margin: 0;
  }
}

.nav-menu {
  display: flex;
  border-radius: 3rem;
  padding: 0.3125rem;
  background-color: #141414;
  gap: 1rem;
}

@media (width < 768px) {
  .nav-menu {
    display: block;
    border-radius: 0;
    padding: 0;
    background: transparent;
    gap: 0;

    position: fixed;
    top: 4.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  .nav-menu.active {
    opacity: 1;
    pointer-events: all;
  }
}

.nav-item {
  padding: 0.5625rem 1rem;
  background-color: transparent;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

@media (width < 768px) {
  .nav-item {
    background-color: white;
    border-radius: 0;
    padding: 1rem 1.5rem;
    min-width: 70%;
    transition: all 0.1s linear;
  }

  .nav-item:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .nav-item:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.nav-item a {
  font-size: var(--fluid-paragraph);
  line-height: 140%;
  letter-spacing: -1%;
  color: #c4c4c4;
  text-decoration: none;
  text-transform: capitalize;
}

@media (width < 768px) {
  .nav-item a {
    color: #000;
  }
}

.nav-item.active {
  background: #fff;
}

.nav-item.active a {
  color: #000;
}

@media (width < 768px) {
  .nav-item.active {
    background: #000;
  }

  .nav-item.active a {
    color: #fff;
  }
}

.nav-item-project {
  display: flex;
  align-items: center;
  gap: 2px;
}

@media (width < 768px) {
  .nav-item-project {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 4px;
  }
}

.project-quantity {
  background: #c4c4c4;
  border-radius: 100%;
  height: 1.25rem;
  width: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.project-quantity span {
  font-size: 0.7rem;
  font-weight: 500;
}

.nav-item-project.active .project-quantity {
  background-color: #000;
  color: white;
}

@media (width < 768px) {
  .nav-item-project.active .project-quantity {
    background-color: #fff;
    color: #000;
  }
}

.nav-open,
.nav-close {
  display: none;
}

@media (width < 768px) {
  .nav-open.active,
  .nav-close.active {
    display: block;
  }

  .nav-open,
  .nav-close {
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
  }
}

/* _____________________navbar in header______________________ */

.header-intro-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

@media (width <= 1024px) {
  .header-intro-container {
    /* reset */
    display: block;
    padding-bottom: 0;
  }
}

h1 {
  font-size: clamp(10rem, 14.72vw, 13.125rem);
  font-weight: 600;
  line-height: 100%;
  text-transform: capitalize;
}

@media (width <=1024px) {
  h1 {
    font-size: clamp(7rem, 14.72vw, 13.125rem);
    margin-top: 3.25rem;
    margin-bottom: 2rem;
  }
}

@media (width < 768px) {
  h1 {
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: -1%;
    margin-top: 5.75rem;
    margin-bottom: 4.75rem;
    text-align: center;
  }
}

.scrolldown {
  position: absolute;
  right: 3.75%;
  bottom: 2.5rem;
  animation: scrolldown 1s ease infinite both;
}

@keyframes scrolldown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (width <= 1024px) {
  .scrolldown {
    display: none;
  }
}

.email-and-intro {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

@media (width < 768px) {
  .email-and-intro {
    align-items: start;
    gap: 3rem;
  }
}

.email-and-intro .header-email span {
  font-size: clamp(1.25rem, 1.6666666667vw, 1.5rem);
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1%;
  margin-bottom: 0.5625rem;
  text-transform: capitalize;
}

@media (width <= 1024px) {
  .email-and-intro .header-email span {
    font-size: 1.25rem;
    line-height: 140%;
  }
}

.header-email a {
  font-size: var(--fluid-paragraph);
  line-height: 140%;
  letter-spacing: -1%;
  color: #fff;
  text-decoration: none;
}

@media (width <= 1024px) {
  .header-email a {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.header-intro {
  font-size: var(--fluid-paragraph);
  line-height: 140%;
  max-width: 45ch;
}

@media (width <=1024px) {
  .header-intro {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

/* ____________________Projects section___________________ */

.projects-heading {
  margin-top: 9rem;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

@media (width <=1024px) {
  .projects-heading {
    align-items: start;
    margin-bottom: 1.5625rem;
  }
}

@media (width< 768px) {
  .projects-heading {
    margin-bottom: 2.1875rem;
  }
}

.projects-heading h2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1%;
  margin-bottom: 0.6875rem;
  text-transform: capitalize;
}

.projects-heading p {
  font-size: 1.25rem;
  line-height: 140%;
  line-height: -1%;
  max-width: 32ch;
}

@media (width <= 1024px) {
  .projects-heading h2 {
    font-size: 2rem;
    line-height: 130%;
  }

  .projects-heading p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (width < 768px) {
  .projects-heading p {
    max-width: max-content;
  }
}

.projects-container .more-btn {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  line-height: 140%;
  letter-spacing: -1%;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: white;
  border-radius: 10rem;
}

@media (width <= 1024px) {
  .projects-heading .more-btn {
    font-size: 1.25rem;
  }
}

@media (width < 768px) {
  .projects-heading {
    position: relative;
  }

  .projects-heading .more-btn {
    position: absolute;
    right: 0;
    height: 2.5rem;
  }
}

.projects-container .more-btn img {
  transform: rotate(-90deg);
  margin-left: 0.375rem;
  transition: all 0.2s linear;
}

.projects-container .more-btn:hover img {
  transform: translateX(5px) rotate(-90deg);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 3rem;
}

@media (width < 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.project-preview {
  aspect-ratio: 1.15;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 3rem 2rem 0;

  background: linear-gradient(45deg, #7a19f3, #a952f3);
}

.project h3,
.project p {
  font-size: 1.25rem;
  line-height: 140%;
  text-transform: capitalize;
}

.project h3 {
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.375rem;
}

/* _________________expertise________________ */

.expertise-container {
  margin-top: 9.6875rem;
  margin-bottom: 2rem;
}

@media (width <= 1024px) {
  .expertise-container {
    margin-top: 4.125rem;
    margin-bottom: 1rem;
  }
}

@media (width < 768px) {
  .expertise-container {
    margin: 3.75rem auto;
  }
}

.expertise-container h2 {
  font-size: 3rem;
  line-height: 120%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 4.3125rem;
  text-transform: capitalize;
}

@media (width <= 1024px) {
  .expertise-container h2 {
    font-size: 2rem;
    line-height: 130%;
    margin-bottom: 2.5rem;
  }
}

@media (width < 768px) {
  .expertise-container h2 {
    font-size: 1.5rem;
    line-height: 130%;
    margin-bottom: 2rem;
  }
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
}

@media (width <= 1024px) {
  .expertise-grid {
    row-gap: 3.75rem;
    column-gap: 2rem;
  }
}

@media (width < 768px) {
  .expertise-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.expertise-item {
  position: relative;
  max-width: 45ch;
}

.expertise-item:nth-child(even) {
  justify-self: end;
}

@media (width < 768px) {
  .expertise-item:nth-child(even) {
    justify-self: start;
  }
}

.expertise-item h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 130%;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

@media (width <= 1024px) {
  .expertise-item h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media (width < 768px) {
  .expertise-item h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

.expertise-item p {
  font-size: 1.25rem;
  line-height: 140%;
}

@media (width <= 1024px) {
  .expertise-item p {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

@media (width <= 1024px) {
  .expertise-item p {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.expertise-item h3::before {
  content: "•";
  display: inline-block;
  position: absolute;
  left: -0.75rem;
}

.scroll-text-bg {
  background: #141414;
}

.scroll-text-container {
  max-width: 90rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 3rem 0;
}

@media (width <= 1024px) {
  .scroll-text-container {
    padding: 1.25rem 0;
  }
}

.scroll-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 10s linear infinite;
  font-size: min(10vw, 8.75rem);
  line-height: 110%;
  letter-spacing: -2%;
  font-weight: 500;
  text-transform: capitalize;
}

@media (width <= 1024px) {
  .scroll-text {
    font-size: 5rem;
    line-height: 130%;
  }
}

@media (width < 768px) {
  .scroll-text {
    font-size: 3rem;
    line-height: 120%;
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* _____________________________testimonial_________________ */

.testimonials-container {
  display: flex;
  align-items: flex-end;
  margin: 4.125rem auto;
  gap: 5rem;
}

@media (width <=1024px) {
  .testimonials-container {
    margin: 4.125rem auto 6.25rem;
  }
}

@media (width < 768px) {
  .testimonials-container {
    flex-direction: column;
    align-items: start;
    gap: 0.8125rem;
    margin: 4.125rem auto 4.5rem;
  }
}

.testimonial-content h2 {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 500;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
}

@media (width <=1024px) {
  .testimonial-content h2 {
    font-size: 3rem;
    line-height: 120%;
  }
}

@media (width < 768px) {
  .testimonial-content h2 {
    font-size: 1.5rem;
    line-height: 130%;
    margin-bottom: 2rem;
  }
}

.testimonial-content p {
  font-size: clamp(2rem, 3.3333333333vw, 3rem);
  line-height: 130%;
}

@media (width <= 1024px) {
  .testimonial-content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.testimonial-author {
  display: flex;
  flex-direction: column;
  gap: 0.5625rem;
}

.testimonial-author span {
  font-size: 1.25rem;
  line-height: 140%;
  width: max-content;
  text-transform: capitalize;
}

.testimonial-author span:nth-child(1) {
  font-weight: 500;
}

@media (width <=1024px) {
  .testimonial-author span:nth-child(2) {
    font-size: 1rem;
  }
}

@media (width < 768px) {
  .testimonial-author span:nth-child(2),
  .testimonial-author span {
    font-size: 0.875rem;
  }
}
