:root {
  --container-lg: 85%;
  --container-md: 89.6%;
  --container-sm: 91.5%;

  --fluid-paragraph: clamp(1rem, 1.4vw, 1.25rem);
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/font/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000;
  color: white;
}

.container {
  width: var(--container-lg);
  max-width: 76.5rem;
  margin: 0 auto;
}

@media (768px <= width <= 1024px) {
  .container {
    width: var(--container-md);
  }
}

@media (width < 768px) {
  .container {
    width: var(--container-sm);
  }
}

/* ____________________header______________ */

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (width <= 1024px) {
  header {
    height: auto;
    display: block;
  }
}

@media (width < 768px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #000;
  }
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width < 768px) {
  .nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
  }
}

.nav-logo {
  margin-top: clamp(1.5rem, 4vh, 2rem);
  margin-bottom: clamp(1.5rem, 4.5vh, 2.5rem);
}

@media (width < 768px) {
  .nav-logo {
    margin: 0;
  }
}

.nav-menu {
  display: flex;
  border-radius: 3rem;
  padding: 0.3125rem;
  background-color: #141414;
  gap: 1rem;
}

@media (width < 768px) {
  .nav-menu {
    display: block;
    border-radius: 0;
    padding: 0;
    background: transparent;
    gap: 0;

    position: fixed;
    top: 4.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10rem;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  .nav-menu.active {
    opacity: 1;
    pointer-events: all;
  }
}

.nav-item {
  padding: 0.5625rem 1rem;
  background-color: transparent;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

@media (width < 768px) {
  .nav-item {
    background-color: white;
    border-radius: 0;
    padding: 1rem 1.5rem;
    min-width: 70%;
    transition: all 0.1s linear;
  }

  .nav-item:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .nav-item:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.nav-item a {
  font-size: var(--fluid-paragraph);
  line-height: 140%;
  letter-spacing: -1%;
  color: #c4c4c4;
  text-decoration: none;
  text-transform: capitalize;
}

@media (width < 768px) {
  .nav-item a {
    color: #000;
  }
}

.nav-item.active {
  background: #fff;
}

.nav-item.active a {
  color: #000;
}

@media (width < 768px) {
  .nav-item.active {
    background: #000;
  }

  .nav-item.active a {
    color: #fff;
  }
}

.nav-item-project {
  display: flex;
  align-items: center;
  gap: 2px;
}

@media (width < 768px) {
  .nav-item-project {
    flex-direction: row-reverse;
    justify-content: start;
    gap: 4px;
  }
}

.project-quantity {
  background: #c4c4c4;
  border-radius: 100%;
  height: 1.25rem;
  width: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.project-quantity span {
  font-size: 0.7rem;
  font-weight: 500;
}

.nav-item-project.active .project-quantity {
  background-color: #000;
  color: white;
}

@media (width < 768px) {
  .nav-item-project.active .project-quantity {
    background-color: #fff;
    color: #000;
  }
}

.nav-open,
.nav-close {
  display: none;
}

@media (width < 768px) {
  .nav-open.active,
  .nav-close.active {
    display: block;
  }

  .nav-open,
  .nav-close {
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
  }
}

/* _____________________navbar in header______________________ */

.header-intro-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
}

@media (width <= 1024px) {
  .header-intro-container {
    /* reset */
    display: block;
    padding-bottom: 0;
  }
}

h1 {
  font-size: clamp(10rem, 14.72vw, 13.125rem);
  font-weight: 600;
  line-height: 100%;
  text-transform: capitalize;
}

@media (width <=1024px) {
  h1 {
    font-size: clamp(7rem, 14.72vw, 13.125rem);
    margin-top: 3.25rem;
    margin-bottom: 2rem;
  }
}

@media (width < 768px) {
  h1 {
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: -1%;
    margin-top: 5.75rem;
    margin-bottom: 4.75rem;
    text-align: center;
  }
}

.scrolldown {
  position: absolute;
  right: 3.75%;
  bottom: 2.5rem;
  animation: scrolldown 1s ease infinite both;
}

@keyframes scrolldown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (width <= 1024px) {
  .scrolldown {
    display: none;
  }
}

.email-and-intro {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

@media (width < 768px) {
  .email-and-intro {
    align-items: start;
    gap: 3rem;
  }
}

.email-and-intro .header-email span {
  font-size: clamp(1.25rem, 1.6666666667vw, 1.5rem);
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1%;
  margin-bottom: 0.5625rem;
  text-transform: capitalize;
}

@media (width <= 1024px) {
  .email-and-intro .header-email span {
    font-size: 1.25rem;
    line-height: 140%;
  }
}

.header-email a {
  font-size: var(--fluid-paragraph);
  line-height: 140%;
  letter-spacing: -1%;
  color: #fff;
  text-decoration: none;
}

@media (width <= 1024px) {
  .header-email a {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}

.header-intro {
  font-size: var(--fluid-paragraph);
  line-height: 140%;
  max-width: 45ch;
}

@media (width <=1024px) {
  .header-intro {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }
}